<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-home"></span>yootoober
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">search</a></li>
        <li><a ng-href="#">favorites</a></li>
        <li ng-if="!navCtrl.isLoggedIn()"><a ng-href="#">login</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right navbar-text">
        <li>an app by <a href="http://github.com/speakingcode">@speakingcode</speakingcode</a></li>
      </ul>
    </div>
  </div>
</nav>
