<div class="container">

  <div>
    <navbar></navbar>
  </div>

  <div>
    <h1>search</h1>
    <p class="lead">
      type a query to search for a vidya
    </p>
    <p>
    <input ng-model="searchCtrl.query" /><button class="btn" ng-click="searchCtrl.doSearch()">Search</button>
    </p>
    <table>
      <thead>
        <td>Name</td>
        <td>Description</td>
      </thead>
      <tr
        ng-repeat="video in searchCtrl.videos"
        ui-sref="videos({videoQuery: searchCtrl.query, videoId: video.id.videoId})">
        <td>{{video.snippet.title}}</td>
        <td>{{video.snippet.description}}</td>
      </tr>
  </div>
</div>
